<template></template>

<script>
export default {
  name: "",
  props: {},
  components: {},
  data: () => ({}),
  // middleware: '',
  // layout: '',
  mounted() {},
  methods: {}
};
</script>

<style scoped>
</style>